*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#box{
    height: 400px;
    width: 400px;
    background-color: rgb(35, 120, 72);
    border-radius: 5px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    border: none;
    padding: 13px 27px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: red;
}
button:hover{
    cursor: pointer;
    background-color: rgb(205, 6, 6);
}
button:active{
    scale: 0.95;
}