@font-face {
  font-family: font-1;
  src: url(./fonts/63cffc0a3942456e003bc265_Chillax-Regular.ttf);
}
@font-face {
  font-family: font-2;
  src: url(./fonts/63cffc20aa8997095067596f_Satoshi-Light.ttf);
}
@font-face {
  font-family: font-3;
  src: url(./fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
}
@mixin flex-gap-width-padding() {
  //for sections
  width: 100%;
  max-width: 1900px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: 0.1rem;
}
@mixin width-radius() {
  //for left and right sections
  width: 100%;
  border-radius: 15px;
}
@mixin text-section() {
  //for text sections
  @include width-radius();
  background-color: #1e1e1e;
  color: rgb(244, 242, 237);
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@mixin top-section() {
  font-family: font-3;
  text-transform: uppercase;
}
@mixin bottom-section() {
  h1 {
    font-family: font-1;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  p {
    font-family: font-2;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: rgba(244, 242, 237, 0.6);
    line-height: 2.1rem;
    font-weight: 800;
  }
  h5 {
    font-family: font-3;
    text-transform: uppercase;
    margin-top: 2rem;
  }
}
#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  section.sec-1 {
    @include flex-gap-width-padding();
    #left-section {
      @include width-radius();
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }
    #right-section {
      @include text-section();
      #top {
        @include top-section();
      }
      #bottom {
        @include bottom-section();
      }
    }
  }
  section.sec-2 {
    @include flex-gap-width-padding();
    gap: 2rem;
    h5 {
      color: rgba(244, 242, 237, 0.6);
      font-family: font-3;
      text-transform: uppercase;
      font-size: 0.85rem;
      font-weight: 500;
    }
    h4 {
      color: rgb(244, 242, 237);
      font-family: font-1;
      font-size: 2.3rem;
      font-weight: 500;
    }
    .section-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #left-section {
      @include width-radius();
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    #right-section {
      @include width-radius();
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  section.sec-3 {
    @include flex-gap-width-padding();
    #left-section {
      @include width-radius();
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }
    #right-section {
      @include text-section();
      #top {
        @include top-section();
      }
      #bottom {
        @include bottom-section();
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
        }
      }
    }
  }
  section.sec-4 {
    @include flex-gap-width-padding();
    #left-section {
      @include width-radius();
      overflow: hidden;
      background-color: aquamarine;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;     
      }
    }
    #right-section {
      @include text-section();
      #top {
        @include top-section();
      }
      #bottom {
        @include bottom-section();
      }
    }
  }
}
@media (min-width: 1000px) {
  #main {
    section.sec-1 {
      flex-direction: row;
      #left-section {
        width: 50%;
      }
      #right-section {
        width: 50%;
        justify-content: space-between;
        padding: 60px;
        #bottom {
          h1 {
            font-size: 4rem;
            line-height: 4.5rem;
            font-weight: 500;
          }
        }
      }
    }
    section.sec-2 {
      flex-direction: row;
      h5 {
        font-size: 0.9rem;
      }
      h4 {
        font-size: 4rem;
      }
    }
    section.sec-3 {
      flex-direction: row-reverse;
      #left-section {
        width: 50%;
      }
      #right-section {
        width: 50%;
        justify-content: space-between;
        padding: 60px;
        #bottom {
          h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            font-weight: 500;
          }
          p{
            display: flex;
            flex-direction: row; /* side by side on desktop */
            justify-content: space-between;
            gap: 20px;
            font-size: 1rem;
            line-height: 1.7rem;
            font-weight: 600;
            span {
                width: 50%;
            }
          }
          
        }
      }
    }
    section.sec-4 {
      flex-direction: row;
      #left-section {
        width: 50%;
      }
      #right-section {
        width: 50%;
        justify-content: space-between;
        padding: 60px;
        #bottom {
          h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            font-weight: 500;
          }
          p{
            display: flex;
            flex-direction: row; /* side by side on desktop */
            justify-content: space-between;
            gap: 20px;
            font-size: 1rem;
            line-height: 1.7rem;
            font-weight: 600;
            span {
                width: 50%;
            }
          }
        }
      }
    }
  }
}
