*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 120%;
    width: 100%;
    background-color: black;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: 400px;
    width: 300px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
}
.card img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.card h2{
    font-size: 30px;
    white-space: nowrap;
}
.card h3{
    font-size: 20px;
    color: crimson;
}
.card p{
    text-align: center;
    color: gray;
}


