@font-face {
    font-family: Mona-Sans;
    src: url(./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.ttf);
}
@font-face {
    font-family: WFVisualSans-Regular;
    src: url(./fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.ttf);
}
@font-face {
    font-family: WFVisualSans-SemiBold;
    src: url(./fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
        /* ----------------- Nav Section -------------------------*/
#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: tomato; */
    padding: 0px 40px;
}
#nav #left h3{
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: WFVisualSans-Regular;
    font-size: 14px;
    padding-top: 8px;
}
#nav #left{
    height: 100%;
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* background-color: turquoise; */
}
#nav #menu{
    /* background-color: yellow; */
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav #left #logo{
    /* background-color: lightpink; */
    height: 55px;
    width: fit-content;
}
#nav #left #logo img{
    height: 100%;
    object-fit: cover;
}
#nav #right{
    /* background-color: crimson; */
    height: 100%;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
}
#nav #right .nav-btn h3{
    font-family: WFVisualSans-Regular;
    font-size: 14px;
}
#nav #right #btn2{
    border-radius: 40px;
    padding: 15px 25px;
    background-color: black;
    color: white;
}
            /* ----------------- Hero Section -------------------------*/
#hero{
    height: fit-content;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 170px;
    padding: 20px 80px;
}
#hero-left{
    height: 400px;
    width: 550px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#hero #hero-left h1{
    font-family: WFVisualSans-SemiBold;
    font-size: 55px;
    line-height: 60px;
}
#hero #hero-left p{
    font-family: Mona-Sans;
    font-weight: bold;
    margin-top: 15px;
}
#hero-left #btnandsearch-section{
    /* background-color: blueviolet; */
    /* margin-top: 40px; */
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#hero-left #btnandsearch-section #btns-1{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: WFVisualSans-Regular;
    font-size: 14px;
}
#hero-left #btnandsearch-section #btns-1 .btns1{
    padding: 12px 18px;
    border-radius: 25px;
    
}
#hero-left #btnandsearch-section #btns-1 .btns1 i{
    font-size: 17px;
}
#hero-left #btnandsearch-section #btns-1 #btns1{
    background-color: black;
    color: white;
}
#hero-left #btnandsearch-section #search{
    width: 600px;
    height: 45px;
    padding: 30px 10px;
    padding-left: 20px;
    border-radius: 60px;
    background-color: #F3F3F6;
    border: 2px solid #F3F3F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Mona-Sans;
    font-size: 13px;
    color: #3A3546;
}
#hero-left #btnandsearch-section #search #search-icon{
    /* height: 10px;
    width: 10px; */
    background-color: #EA4C89;
    padding: 12px 13px;
    border-radius: 50%;
}
#hero-left #btnandsearch-section #search #search-icon i{
    font-size: 17px;
    color: white;
}
#hero-left #btnandsearch-section #search:hover{
    background-color: white;
    border: 2px solid #FAEBF9;
}
#hero-left #btnandsearch-section #btns-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: WFVisualSans-Regular;
    font-size: 11px;
    margin-left: 20px;
}
#hero-left #btnandsearch-section #btns-2 .btns2{
    border: 0.5px solid #EAE1E3;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}
#hero #hero-right #video{
    height: 430px;
    width: 620px;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
}
            /* ----------------- Hero Section -------------------------*/
#bottom{
    height: 80px;
    width: 88%;
    background-color: #F8F8FC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* font-family: Mona-Sans;
    font-size: 13px; */
    position: relative;
    margin-top: 15px;
}
#bottom #box{
    display: flex;
    align-items: center;
    gap: 3px;
    border: 2px solid #e2cece;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 20px;
}
#bottom #box h3{
    font-family: WFVisualSans-Regular;
    font-size: 15px;
    padding-right: 14px;
}
#bottom #box i{
    font-size: 20px;
    color: #956BCD;
}
#bottom #box h4{
    position: absolute;
    top: 30%;
    left: 14.7%;
    background-color: #EA4C89;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 3px 5px;
    border-radius: 8px;
}
#bottom>h3{
    font-family: Mona-Sans;
    font-size: 15px;
    color: #3A3546;
    margin-left: 25px;
}

/* ------------------------ Page 2 --------------------- */
#page2{
    height: 100%;
    width: 100%;
    padding: 30px 10px;
    font-family: WFVisualSans-Regular;
    font-size: 12px;
}
#dashboard-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#dashboard-nav .btn{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 13px;
    border-radius: 10px;
    border: 2px solid #F3F3F6;
}
#dashboard-nav .btn i{
    font-size: 20px;
}
#dashboard-nav #texts{
    /* background-color: #956BCD; */
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ------------------------- Cards Section ------------------ */
#dashboard-cards{
    height: fit-content;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#dashboard-cards .card{
    /* background-color: #956BCD; */
    height: 290px;
    width: 335px;
    padding: 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#dashboard-cards .card #img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#dashboard-cards .card #img img{
    height: 100%;
    width: 100%;
}
.card #img #bottom{
    height: 35%;
    width: 110%;
    background: linear-gradient(to top, rgba(10, 10, 10, 0.593), rgba(191, 191, 191, 0));
    border-radius: none;
    position: absolute;
    left: -5%;
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
    padding-left: 15px;
    
}
.card #img #bottom h3{
    color: white;
    font-size: 16px;
}
.card #img #bottom #icons{
    display: flex;
    gap: 10px;
}
.card #img #bottom i{
    font-size: 18px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 50%;
}
#dashboard-cards .card #img:hover #bottom{
    bottom: 0%;
}
#dashboard-cards .card #text-area{
    /* background-color: #e2cece; */
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#dashboard-cards .card #text-area #sec-1{
    align-items: center;
    display: flex;
    gap: 5px;
}
#dashboard-cards .card #text-area #sec-1 img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}
#dashboard-cards .card #text-area #sec-1 h3{
    font-size: 14px;
    margin-left: 4px;
}
#dashboard-cards .card #text-area #sec-1 h4{
    background-color: #CCCCCC;
    color: white;
    font-size: 10px;
    padding: 1px 4px;
    border-radius: 3px;
    margin-left: 3px;

}
#dashboard-cards .card #text-area #sec-2{
    display: flex;
    align-items: center;
    color: #9E9EA7;
    font-family: Mona-Sans;
    gap: 2px;
}
#dashboard-cards .card #text-area #sec-2 i{
    font-size: 17px;
}
#dashboard-cards .card #text-area #sec-2 h4{
    margin-right: 8px;
    color: #3D3D4E;
    font-size: 12px;
}