*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.elem{
    height: 100px;
    width: 500px;
    background-color: rgb(27, 27, 94);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 30px;

}
.elem button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(29, 237, 29);
    border: none;
    border-radius: 5px;
}
.elem button:hover{
    background-color: rgb(125, 233, 134);
    border: 1px solid black;
    cursor: pointer;
}
.elem button:active{
    transform: scale(0.9);
}