*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
img{
    height: 60px;
    position: fixed;
    transform: translate(-10%,-30%);
}