h1{
    color:green;
    padding-left: 130px;
    font-size: 50px;
}
#alert{
    color: red;
    font-size: 20px;
    padding-left: 30px;
}
button{
    background-color: blue;
    color: white;
    padding: 5px 30px;
    border:none;
    border-radius: 5px;
    font-size: 30px;
}
button:hover{
    background-color: darkblue;
}
button:active{
    scale: 0.95;
}