*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(65, 221, 169);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 800px;
    background-color: black;
    padding: 30px 40px;
    padding-bottom: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header{
    display: flex;
    align-items: center;
    gap: 120px;
    margin-bottom: 40px;
}
header .column{
    display: flex;
    align-items: center;
    gap: 5px;
}
.volume-slider input{
    accent-color: white;
    transition: all 0.3s ease;
}
.keys-checkbox input{
    appearance: none;
    height: 25px;
    width: 50px;
    background-color: grey;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}
.keys-checkbox input::before{
    content: "";
    height: 16px;
    width: 16px;
    background-color: rgb(189, 188, 188);
    border-radius: inherit;
    border: 2px solid white;
    top: 50%;
    left: 3px;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.keys-checkbox input:checked::before{
    left: 27px;
    background-color:chartreuse;
    border: 2px solid white;
}
.piano-keys{
    list-style: none;
    display: flex;
    color: #a2a2a2;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.piano-keys .white{
    height: 240px;
    width: 70px;
    background: linear-gradient(#fff 96%, #ccc 4%);
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 190px;
}
.piano-keys .white.active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,#fff 0%, #eee 100%);
}
.piano-keys .black{
    height: 160px;
    width: 30px;
    background: linear-gradient(#333,#000);
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
    margin: 1.2px -15px 0px -15px;
    padding-top: 130px;
}
.piano-keys .black.active{
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1);
    background: linear-gradient(to bottom,#000, #434343);
}

.piano-keys .hide span{
    display: none;
}

p{
    position: absolute;
    bottom: 4%;
    right: 3%;
    font-size: 14px;
    opacity: 0.5;
}

