*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    background-color: crimson;
    display: flex;
    gap: 25px;
}
.card{
    height: 500px;
    width: 350px;
    background-color: white;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.card img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}
.card #bottom{
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    position: absolute;
    bottom: -40%;
    transition: bottom 1s ease;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 120px;
    color: white;
}
.card:hover #bottom{
    bottom: 0%;
    
}

/* ------------------------ Boxes ------------------- */
.box{
    height: 500px;
    width: 350px;
    perspective: 500px;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#box1 img{
    transform: rotateX(45deg);
    scale: 0.7;
}
#box2 img{
    transform: rotateY(45deg);
    scale: 0.5;
}
#box3 img{
    transform: rotateZ(45deg);
    scale: .6;
}