*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr qfr 1fr;
    grid-template-rows: 80px 1fr 0.5fr 0.5fr;

    grid-template-areas: "header header header"
                "section section section"
                "div1 bottom-up div2"
                "div1 bottom-down div2"
    ;

    grid-gap: 10px;
    padding: 10px 10px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.white{
    color: white;
}
.font{
    font-size: 30px;
}
header{
    background-color: mediumseagreen;
    grid-area: header;
}
section{
    background-color: magenta;
    grid-area: section;
}
#div1{
    background-color: mediumblue;
    grid-area: div1;
}
#div2{
    background-color: rgb(0, 205, 21);
    grid-area: div2;
}
bottom-up{
    background-color: blueviolet;
    grid-area: bottom-up;
}
bottom-down{
    background-color: cadetblue;
    grid-area: bottom-down;
}
