*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
button{
    background-color: crimson;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 25px;
    padding: 15px 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
button:active{
    scale: 0.95;
}

