*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(236, 236, 195);
}
.card{
    background-color: white;
    /* background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 30%, #a1c4fd 70%, #c2e9fb 100%); */
    height: 330px;
    width: 250px;
    /* border: 0.5px solid black; */
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.702);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 30px 30px;
    position: relative;
    overflow: hidden;
}
.card #triange{
    /* background-color: white; */
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 30%, #a1c4fd 70%, #c2e9fb 100%);
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    position: absolute;
    top: -38%;
}
.card img{
    height: 100px;
    width: 100px;
    border: 4px solid white;
    border-radius: 50%;
    object-fit: cover;
    /* border: 1px solid black; */
    /* position: relative; */
    z-index: 0;
}
.card h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.card p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
.card button{
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    font-size: 17px;
    color: white;
}
