*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
#main{
    height: 120%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://images.unsplash.com/photo-1613771404721-1f92d799e49f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat fixed;
    background-size: cover;
    background-position: bottom;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nav{
    height: 70px;
    width: 95%;
    /* background-color: white; */
     background: linear-gradient(to right,
    blue 0%, 
    yellow 30%, 
    white 50%, 
    yellow 70%, 
    blue 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
}
#nav img{
    height: 50px;
}
#cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}
.card{
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* margin: 20px; */
}