*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
:root{
    --x: 200px;
    --y: 200px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(250px at var(--x) var(--y), rgba(2, 2, 2, 0) 0%,rgba(0, 0, 0, 0.76) 100%);
    pointer-events: none;
}
p{
    color: rgb(4, 221, 4);
    font-size: 40px;
    padding: 20px 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
}
p:hover{
    background-color: rgba(1, 117, 1, 0.365);

}
